* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #233142;
}

header {
    height: 50px;
    width: 100%;
    background-color: #f95959;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.search-input input:focus::placeholder {
    color: transparent;
}

.search-input {
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.search-input input {
    height: 20px;
    width: 250px;
    padding: 4px;
    font-size: 18px;
    border: none;
    outline: none;
}

.search-input label {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    overflow: hidden;
}

#magnify-svg {
    height: 22px;
}

#magnify-svg:hover {
    cursor: pointer;
}

footer {
    margin-top: auto;
    font-size: 10px;
    color: #ffffff;
    padding: 4px;
}

footer a {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #f95959;
    transition: 0.2s ease-in-out;
}

footer a:hover {
    color: #f95959;
    font-size: 16px;
    transition: 0.2s ease-in-out;
}

main {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 8px;
    margin-top: 24px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.hidden {
    display: none;
}

.city-temperature {
    font-size: 38px;
}

.city-name {
    text-align: center;
}

.search-input-field-error {
    color: #f95959;
}

.city-wind,
.city-humidity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.weather-wind-img,
.weather-humidity-img {
    width: 28px;
    height: auto;
}

.search-input-field-error-city-not-found {
    color: #ffffff;
}